/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
:root {
  .navbar {
  --bs-navbar-brand-color: #007bff; /* Example color */
  --bs-navbar-brand-hover-color: #007bff;
  }
}

body {
     background: url("../src/assets/farm_background.jpg") no-repeat center center fixed;
    background-size: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
  /*   padding: 0; */
}

td {
    padding: 10px 0;
  }

.btn-danger {
  background-color: #dc3545 !important;
}

.btn-primary {
  background-color: #0d6efd !important;
}

.btn-warning {
  background-color: #ffc107 !important;
}


/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
